.row-spacing {
    margin-top: 30px;
    margin-bottom: 30px;
}

.center-text {
    text-align: center;
}

.col-sm-inner:hover {
  background-color: #ecf0f1; 
  width: 200px; 
  height: 200px;
  padding-top: 40px;
  font-size: 15px;
}

.col-sm-inner {
  width: 200px; 
  height: 200px;
  padding-top: 40px;
  font-size: 15px;
}


.center-hz {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wall{
    animation-name: wallAnimation;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }
  
  @keyframes wallAnimation {
    0% {
      transform: scale(.3);
      background-color: rgb(12, 53, 71);
    }
  
    50% {
      transform: scale(1.2);
      background-color: rgb(12, 53, 71);
    }
  
    100% {
      transform: scale(1.0);
      background-color: rgb(12, 53, 71);
    }
  }